 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Joey Mejias is an Android Developer based in NYC. He has worked with charter schools as co-founder of ScholisTech, was an Engineer for The Huffington Post, Major League Baseball Advanced Media, and The Walt Disney Company working on products used by millions of users, created innovative mobile products as founder of Apperate, has taught Quality Assurance & Intro to Programming at Year Up to bridge the digital divide, and enjoys mentoring opportunity youth in his free time when not volunteering with the Google Developer Group NYC team.</p>
                </div>
                <div class="col-lg-4">
                    <p>In addition to the owning his own company, working for some cool companies, teaching, and mentoring Joey has experience leading & managing groups of over 100 people. Fun fact? Joey started consulting when he was 9 years old! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/folderview?id=0BwAHAmL8yR-ZelRWeXdCcUZxX2M&usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
